# ---------------------------
# GO
# ---------------------------
/bin/
/build/
/dist/
/out/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
/vendor/
/go.sum
/*.test

# ---------------------------
# ANGULAR
# ---------------------------
/dashboard/node_modules/
/dashboard/dist/
/dashboard/.angular/
/dashboard/.cache/

/dashboard/src/environments/environment.prod.ts
/dashboard/src/environments/environment.ts

# ---------------------------
# DOCKER
# ---------------------------
/docker/*.log
docker-compose.override.yml
**/.dockerignore

# ---------------------------
# KUBERNETES
# ---------------------------
*.yaml~
*k8s-secret*.yaml
*kubeconfig*

# ---------------------------
# VS CODE
# ---------------------------
.vscode/
.history/
*.code-workspace

# ---------------------------
# LOGS / TEMP
# ---------------------------
*.log
*.tmp
*.temp
*.swp
.DS_Store
Thumbs.db

# ---------------------------
# PYTHON / SCRIPTS
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# HONEYPOT LOGS
# ---------------------------
/honeypot/*.log

# ---------------------------
# ENV
# ---------------------------
.env
.env.*

# ---------------------------
# BACKUPS
# ---------------------------
*.bak
*.old
*.backup
